.App {
  text-align: center;
  background-image:url("https://www.google.com/imgres?imgurl=https%3A%2F%2Fmedia.comicbook.com%2F2019%2F08%2Fstar-wars-new-series-roll-out-1182210-1280x0.jpeg&imgrefurl=https%3A%2F%2Fcomicbook.com%2Fstarwars%2Fnews%2Fnew-star-wars-shorts-adorable-bb-8%2F&tbnid=amprGVsWKplx_M&vet=12ahUKEwiOlPyVy8HvAhVbEysKHZ5mDm8QMyhFegQIARBW..i&docid=I10e2u-GdLunuM&w=1280&h=718&itg=1&q=starwars%20web%20background%20bright&ved=2ahUKEwiOlPyVy8HvAhVbEysKHZ5mDm8QMyhFegQIARBW")
}

.App-logo {
  height: 40vmin;
}

.Appheader {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Tablediv {
  width: 80%;
  margin-left:auto;
  margin-right:auto;
}

input[type=text], select {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.SearchButton {
  width: 80%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.SearchButton:hover {
  background-color: #45a049;
}